<h1>Boasts!</h1>

<a href="/">Home</a>
<a href="/sorted/">Sort by Votes</a>
<a href="">Boasts</a>
<a href="/roasts/">Roasts</a>
<a href="/add-post/">Add Post</a>

{% for post in boast_posts %}
    <div style="border: solid black 1px; margin-bottom: 5px;">
        <h3>{{ post.content }}</h3>
        <h3>Boast</h3>
        <h3>{{ post.count_votes }}</h3>
        <a href="/upvote/{{post.id}}/">UPVOTE</a>
        <a href="/downvote/{{post.id}}/">DOWNVOTE</a>
        <h3>{{ post.post_date }}</h3>
    </div>
{% endfor %}